@charset "UTF-8";

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: #f0f8ff;
}

a {
    text-decoration: none;
    color:#3a144d;
}

h1 {
    color:#7E459B;
    font-size: 30px;
}

h6 {
    color:#3a144d;
}

.main {
    margin: 0px 400px;
}

.welcome {
    background-color:#fff;
    text-align: center;
}

.doodle-images {
    max-width: 400px;
}

.doodle-images:hover {
    background-color: #FF9A8B;
    background-image: linear-gradient(135deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    border-radius: 20%;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #af83c5;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.cards-column {
    flex-direction: row;
}

.card {
    border-radius: 20%;
    background-image: linear-gradient(120deg, #fbc2cac7 0%, #eee3a6af 100%);
    transition: all .2s linear;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

.nome {
    padding-left: 40px;
}

.fotinho img {
    background-size: cover;
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.384);
}

.fotinho:hover {
    box-shadow: 21px 15px 66px rgb(247 247 247 / 67%);
    border-radius: 50%;
    transform: translate3d(18px, 18px, 0);
}

.bg-subcategories {
    background-color: #a596963a;
    max-width: 600px;
}

.subcategories {
    color:#ffffff;
    text-transform: lowercase;
    font-size: 14px;
}

.typewrite {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

.sobremin {
    max-width: 500px;
}

.styled-text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.bg-tecnologias {
    background-color: #FF99AC;
    color: gray;
    margin: 0;
    padding: 30px 30px;
}

/*inicio do estilo menu*/

#menu {
    padding: 15px;
    background-color: #a562c7;
    color:#3a144d;
}

/*fim do estilo do menu*/  

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
}

a:hover {
    background-position: right center; 
    color: #af83c5;
    text-decoration: none;
}

.email:hover,
.github:hover,
.linkedin:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

#sobre {
    background-color: #535353;
    padding: 40px;
}

#hobbies {
    background-color: #fff; /*cor de fundo*/
    padding: 40px;
}

.hobbies {
    margin: 0;
}

.icones {
    text-align: center;
}

.hobbies li {
    display: inline-block;
}


/* inicio do estilo footer */
footer {
    background-color: #3a144d;
    min-height: 20px;
    text-align: center;
    margin-top: 0px; 
    padding: 10px 0px 10px 0px;
    font-family: 'Questrial', sans-serif;
    
}


footer p {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

/* final do estilo footer */