@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

a {
    text-decoration: none;
    color:#3a144d;
}

h1 {
    color:#7E459B;
    font-size: 30px;
}

h6 {
    color:#3a144d;
}

header {
    background-color: #7E459B;
    min-height: 20px;
    text-align: center;
    margin-top: 0px; 
    padding: 10px 0px 0px 10px;
    font-family: 'Questrial', sans-serif;
}

.main {
    margin: 0px 200px;
}

.welcome {
    background-color:#fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.doodle-images {
    max-width: 400px;
}

.doodle-images:hover {
    background-color: #FF9A8B;
    background-image: linear-gradient(135deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    transition: background 5s ease-in;    
    border-radius: 20%;
    -webkit-transition: background 5s ease-in;
    -moz-transition: background 5s ease-in;
    -o-transition: background 5s ease-in;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 20%;
    background-image: linear-gradient(120deg, #fbc2cac7 0%, #eee3a6af 100%);
    transition: all .2s linear;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

.nome {
    padding-left: 40px;
}

.bg-subcategories {
    background-color: #FF99AC;
}

.subcategories {
    color:#f7ecf0;
    text-transform: lowercase;
    width: 100%;
}

.styled-text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

/*inicio do estilo menu*/

#menu{
    text-align: center; /*alinhamento do texto*/
    padding: 15px; /*espaço entre a borda e o conteúdo do elemento*/
    background-color: #f4ecf8; /*cor de fundo*/
    color:#3a144d;
}

/*fim do estilo do menu*/  

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
}

a:hover {
    background-position: right center; 
    color: #af83c5;
    text-decoration: none;
}

.email:hover,
.github:hover,
.linkedin:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

#sobre {
    background-color: #e2ccd8; /*cor de fundo*/
    padding: 40px;
}

#hobbies {
    background-color: #fff; /*cor de fundo*/
    padding: 40px;
}

.icones {
    text-align: center;
}

.hobbies li {
    display: inline-block;
}


/* inicio do estilo footer */
footer {
    background-color: #3a144d;
    min-height: 20px;
    text-align: center;
    margin-top: 0px; 
    padding: 10px 0px 10px 0px;
    font-family: 'Questrial', sans-serif;
    
}


footer p {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

/* final do estilo footer */