@charset "UTF-8";

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: #f0f8ff;
}

a {
    text-decoration: none;
    color:#3a144d;
}

h1 {
    color:#7E459B;
    font-size: 30px;
}

h6 {
    color:#3a144d;
}

.main {
    margin: 0px 400px;
}

.welcome {
    background-color:#fff;
    text-align: center;
}

.doodle-images {
    max-width: 400px;
}

.doodle-images:hover {
    background-color: #FF9A8B;
    background-image: linear-gradient(135deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    border-radius: 20%;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #af83c5;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.cards-column {
    flex-direction: row;
}

.card {
    border-radius: 20%;
    background-image: linear-gradient(120deg, #fbc2cac7 0%, #eee3a6af 100%);
    transition: all .2s linear;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

.nome {
    padding-left: 40px;
}
* {box-sizing: border-box}
.container {
    position: relative;
}
.fotinho {
    background-size: cover;
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.384);
    display: block;
    opacity: 1;
    transition: .5 ease;
    backface-visibility: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    max-width: 300px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 20px;
}
.container:hover .overlay {
    opacity: 1;
}

.fotinho:hover {
    box-shadow: 21px 15px 66px rgb(247 247 247 / 67%);
    transform: translate3d(3px, 3px, 0);
}

.bg-subcategories {
    background-color: #a596963a;
    max-width: 600px;
}
.bg-subcategories--tec {
    background-color: #f5e4e4b7;
}

.subcategories {
    color:#302f2f;
    text-transform: lowercase;
    font-size: 14px;
}
.subcategories--tec {
    color:#ffffff;
    text-transform: lowercase;
    font-size: 14px;
}

.typewrite {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}
.typewrite--tec {
    color: #838282;
}

.sobremim {
    max-width: 500px;
}

.styled-text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.bg-tecnologias {
    background-color: #FF99AC;
    color: gray;
    margin: 0;
    padding: 30px 90px;
}

/*inicio do estilo menu*/

#menu {
    padding: 15px;
    background-color: #a562c7;
    color:#3a144d;
    margin: -120px 0 121px 0;
}

/*fim do estilo do menu*/  

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
}

a:hover {
    background-position: right center; 
    color: #e4bcf8;
    text-decoration: none;
}

.email:hover,
.github:hover,
.linkedin:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -6px, 0);
}

#sobre {
    background-color: #535353;
    padding: 40px;
}

#hobbies {
    background-color: #fff; /*cor de fundo*/
    padding: 40px;
}

.hobbies {
    margin: 0;
}

.icones {
    text-align: center;
}

.hobbies li {
    display: inline-block;
}


/* inicio do estilo footer */
footer {
    background-color: #3a144d;
    min-height: 20px;
    text-align: center;
    margin-top: 0px; 
    padding: 10px 0px 10px 0px;
    font-family: 'Questrial', sans-serif;
    
}


footer p {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

/* final do estilo footer */

/* background animation */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
  /* Main styles */
body {
    margin-top: 7.5rem;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

/* scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f6f6f7 #979797;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #979797;
}

*::-webkit-scrollbar-thumb {
    background-color: #f6f6f7;
    border-radius: 20px;
    border: 3px solid #979797;
}

@media screen and (max-width: 1500px) {
    .main {
        margin: 0px 200px;
    }
}

@media screen and (max-width: 1066px) {
    .main {
        margin: 0px 100px;
    }
}

@media screen and (max-width: 900px) {
    .main {
        margin: 0px;
    }
}

@media screen and (max-width: 680px) {
    .cards-column,
    .container {
        width: 100%;
        justify-content: center;
    }
    .container {
        display: flex;
    }
    
    .cards-container {
        flex-direction: column;
    }
    
    .bg {
        flex-direction: column;
    }
}