* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0.3px 0.3px 0.3px 4px rgba(0, 0, 0, 0.15);
}

.menu {
    list-style: none;
    padding-left: 0;
}

.menu li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.menu__link {
    text-decoration: none;
    color: #FFB468;
    font-weight: bold;
    text-transform: uppercase;
}

.projeto {
    text-decoration: none;
    color: #fc4949;
    font-size: 11px;
}

.logo {
    width: 150px;
    margin: 0 20px;
}

.conteudo__container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.autora {
    width: 200px;
    text-align: center;
}

.autora__nome {
    font-weight: bold;
    width: 200px;
}

.autora__foto {
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.artigo {
    width: 400px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD7A7;
    position: fixed;
    bottom: 0;
    width: 100vw;
}